@page
@model simpleAspDotNetCoreWebapp.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <div class="text-left">
        <p>Contoso Fashions is currently re-branding, and we will be using this as an opportunity to bring new purchasing, tracking, and social media features to our online services.</p>
        <p>The company has won several prestigious and influential industry and consumer awards for the high standard of our online customer experience.</p>
    </div>
</div>
