@page
@model simpleAspDotNetCoreWebapp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <address>
        4567 Main St<br />
        Buffalo, NY 98052<br />
        <abbr title="Phone">P:</abbr>
        555-0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@contoso.com">Support@contoso.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@contoso.com">Marketing@contoso.com</a>
    </address>
</div>

