@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Fashions</h1>
    <p>Style from the cloud.</p>
</div>
<div class="text-center">
    <h2 class="display-4">Contoso Fashions</h2>
    <p class="lead">Contoso Fashions is a world-leading online retailer of quality clothing.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Clothing for men</h3>
        <p>
            Contoso Fashions has a great range of men's clothes.
        </p>
        <img src="~/images/jacket.png" alt="Jacket" title="Jacket" width="200" />
    </div>
    <div class="col-md-4">
        <h3>Clothing for women</h3>
        <p>
            Contoso Fashions has a great range of women's clothes.
        </p>
        <img src="~/images/dress.png" alt="Dress" title="Dress" width="200" />
    </div>
    <div class="col-md-4">
        <h3>Footwear</h3>
        <p>
            Contoso Fashions has a great range of men's and women's shoes.
        </p>
        <img src="~/images/shoes.png" alt="Shoes" title="Shoes" width="200" />
    </div>
</div>
